<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR.Data.LinqToSQL.Properties.Settings.C__USERS_AGHYAD_SOURCE_REPOS_CODDEE_HR_WEB_DB_HRDATABASE_MDFConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\AGHYAD\SOURCE\REPOS\CODDEE\HR.WEB\DB\HRDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
        <add name="HR.Data.LinqToSQL.Properties.Settings.HRDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aghyad\Source\Repos\Coddee\HR.Web\DB\HRDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="HR.Data.LinqToSQL.Properties.Settings.HRDatabaseConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HRDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="HR.Data.LinqToSQL.Properties.Settings.C__GITHUB_CODDEE_EXAMPLE_DB_HRDATABASE_MDFConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\GITHUB\CODDEE\EXAMPLE\DB\HRDATABASE.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
